.add { 
    &__single {
        &-product {
            margin: 10px 0;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;

            &:hover {
                background: #cccccc;
            }

            &:disabled {
                background: #1459ee;
                color: white;
            }
        }
    }
}